<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>

        <li><a href="/DriveManager/login" title="Login" target="_self">Login my Google Drive</a></li>

    </ul>
  </body>
</html>